@using System.Text.Json;
@using WebApp.Services;
@model WebApp.Models.Usuario
@{
    ViewData["Title"] = "Inicio Sesión";
    Layout = null;
    var logged = Context.Session.GetString("usuario");
    UserResponse? usuario = null;
    if (logged != null)
    { // Is logged
        usuario = JsonSerializer.Deserialize<UserResponse>(logged);
    }
}
<head>
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="bodyLogin">
        <div class="login-container">
            <div class="login-box">
                <div class="header">
                    <h3>Inicio de Sesión</h3>
                </div>
                <div class="content">
                    <form action="@Url.Action("Index", "InicioSesion")" class="row g-3 needs-validation" method="post" novalidate>
                        <div class="input-box">
                            <input type="text" name="Usuario1" id="validationCustom01" class="form-control" placeholder="Usuario" required>
                            <div class="valid-feedback">
                            </div>
                            <div class="invalid-feedback">
                            El campo de usuario es obligatorio.
                            </div>
                        </div>
                        <div class="input-box">
                            <input type="password" name="Clave" class="form-control" placeholder="Clave" required>
                        <div class="valid-feedback">
                        </div>
                            <div class="invalid-feedback">
                            El campo de clave es obligatorio.
                            </div>
                        </div>

                        @if (TempData["Error"] != null )
                                    {
                            <div class="alert alert-danger text-center">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                <strong>Credenciales inválidas. </strong> @TempData["Error"]
                            </div>

                            <script type="text/javascript">
                                setTimeout(function () {
                                    // Cerrando la alerta
                                    $('.alert').alert('close');
                                }, 7000);
                            </script>
                            @(TempData["Error"] = null)
                        }
                        <div class="input-box">
                            <button type="submit" class="btn btn-primary rounded">Ingresar</button>
                        </div>
                    </form>
               
                </div>
            </div>
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

<script>

    band = true;
    (function () {
        'use strict'
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')
        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                        band = false

                        Swal.fire({
                            icon: 'warning',
                            title: 'Datos de inicio de sesión obligatorios',
                            text: 'Por favor, complete los campos de usuario y clave para iniciar sesión.',
                        })
                    }
                    form.classList.add('was-validated')
                }, false)
            })
    })();


</script>

<partial name="_NotificationPanel"/>
